.img-fluid{
    width: 100%;
    height: 30rem;
    width:27rem;
    background-size: 100% 100%;
}

@media (max-width: 574px) {
    .img-div{
        
        object-fit: fill;
    }
    .img-fluid{
        height: 25rem;
        width:35rem;
        object-fit: fill;
    }

    
   
  }
  .feedpost{
    box-shadow: 1px 1px 4px  #1b1b1b;
  }
  @media(max-width:800px){
    .feedpost{
        display: block;
        margin: 2.5rem;
    }
  }