.text{
    font-size:16px;
    font-weight: 500;
}
.text6{
    font-size: 12px;
}
.unflw{
    color: #60A5FA;
}
.unflw:hover{
    color: white;
    transition: ease-in-out;
    border: 1px solid  #2484fb ;
    background-color:  #2484fb;
    border-radius: 5px;
    padding: 3px;
}
@media(max-width:800px){
    .user-details{
          display: flex !important;
          flex-direction: column !important;
          align-items:start;
          justify-content: center;
          padding: 3px !important;
    }
}
