.img-fluid{
    width: 100%;
    height: 30rem;
    width:27rem;
    background-size: 100% 100%;
}
@media (max-width: 574px) {
    .img-div{
        
        object-fit: fill;
    }
    .img-fluid{
        height: 25rem;
        width:25rem;
        object-fit: fill;
    }

    
   
  }