@media (max-width: 574px) {
    .custom-profile {
      max-width: 100%;
   
      
      padding-right: 0;
      display: flex;
      align-items: center;
      
      justify-content: center;

    }
    .profile-main{
        //  padding-left: 85px;
        // margin-left: 90px;
        max-width: 100%;
       padding-left: 25px;
        font-size: 1px;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    
    }
}