.sbi:hover{
    background-color: rgba($color: #ffffff, $alpha: 0.4);
    border-radius: 0.8rem;
    box-shadow: inset;
    object-fit: cover;
    width: 100%;
}
@media(max-width:800px){
    .main-sidebar{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
.main-sidebar{

}
loggout:hover{
    width:150vw;
}
span{
    font-size: 18px;
}