.sbi:hover{
    background-color: rgba($color: #ffffff, $alpha: 0.4);
    border-radius: 0.8rem;
    box-shadow: inset;
    object-fit: cover;
    width: 100%;
}
loggout:hover{
    width:150vw;
}
span{
    font-size: 18px;
}